@import url(http://fonts.googleapis.com/css?family=Flamenco|Jacques+Francois|Pontano+Sans);

$Flamenco: Flamenco, Helvetica, Arial, sans-serif;
$Jacques: 'Jacques Francois', Georgia, Times, serif;
$Pontano: 'Pontano Sans', Arial, Verdana, sans-serif;

$nav_color: #dbdbdb;
$a_color: #336699;

h1 {
  font-size: 2em;
  font-family: Flamenco, Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1.1em;
}
p {
  font-size: 1em;
}

#content {
	min-height: 80%;
	width: 90%;
  	margin: 0 auto;

  	a {
	  font-family: 'Pontano Sans', Arial, Verdana, sans-serif;
	  font-size: 1em;
	  text-decoration: none;
	  color: $a_color;
	  &:hover {
		color: lighten($a_color, 10%);
	  }
	}
}

footer {
  bottom: 1%;
  position: absolute;
}
.top-bar {
	background: #333;
  	ul.left, ul.right {
	  width: 30%;
	}
  	li:not(first-child) {
	  margin-left: 5%;
	}
	a {
	  color: $nav_color;
	  font-family: $Jacques;
	  &:hover {
		color: lighten($nav_color, 10%);
	  }
	}
  }
