    <ul class="nav navbar-nav navbar-left">
        <li class="left"><a href="{{ url_to('/') }}">Home</a></li>
        <li class="left"><a href="{{  url_to('controllers') }}">Controllers</a></li>
        <li class="left"><a href="{{  url_to('pilots') }}">Pilots</a></li>
    </ul>
