    <ul class="left">
        <li class="left name"><h2><a href="{{ url_to('/') }}">Home</a></h2></li>
        <li class="left"><h2><a href="{{  url_to('controllers') }}">Controllers</a></h2></li>
        <li class="left"><h2><a href="{{  url_to('pilots') }}">Pilots</a></h2></li>
    </ul>
