/bootstrap/compiled.php
/app/config/database.php
composer.phar
composer.lock
.env.local.php
.env.testing.php
.env.php
.DS_Store
Thumbs.db
/.idea
zbw.sublime-project
/.vagrant
/_ide_helper.php
._ide_helper_models.php
/zbw.sublime-*
/vendor
_ide_helper.php
.env.local.php
.env.production.php
*.pub
*.pem
node_modules/
workbench
app/storage
public/uploads
public/packages
*.sql
public/forum/attachments
public/forum/smfapi_settings.txt
public/documents/loas/00285SHAFF.pdf
public/documents/loas/00289NOBBI.pdf
public/documents/loas/00610PARCH.pdf
public/documents/loas/00610ROBER.pdf
public/forum/cache/data_2507dbcbfd299e4dfb2979ec252738bf-SMF-modSettings.php
tests/_output/*
