vendor/
node_modules/
.env
.idea/
*.sublime-*
.vagrant
_ide_*.php
public/uploads
public/packages
*.sql
public/forum/attachments
public/forum/smfapi_settings.txt
public/documents/loas/00285SHAFF.pdf
public/documents/loas/00289NOBBI.pdf
public/documents/loas/00610PARCH.pdf
public/documents/loas/00610ROBER.pdf
public/forum/cache/data_2507dbcbfd299e4dfb2979ec252738bf-SMF-modSettings.php
tests/_output/*
