@import url(http://fonts.googleapis.com/css?family=Flamenco|Jacques+Francois|Pontano+Sans);
h1 {
  font-size: 2em;
  font-family: Flamenco, Helvetica, Arial, sans-serif; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1.1em; }

p {
  font-size: 1em; }

#content {
  min-height: 80%;
  width: 90%;
  margin: 0 auto; }
  #content a {
    font-family: 'Pontano Sans', Arial, Verdana, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #336699; }
    #content a:hover {
      color: #407fbf; }

footer {
  bottom: 1%;
  position: absolute; }

.top-bar {
  background: #333; }
  .top-bar ul.left, .top-bar ul.right {
    width: 30%; }
  .top-bar li:not(first-child) {
    margin-left: 5%; }
  .top-bar a {
    color: #dbdbdb;
    font-family: "Jacques Francois", Georgia, Times, serif; }
    .top-bar a:hover {
      color: #f4f4f4; }
