@import url(http://fonts.googleapis.com/css?family=Flamenco|Jacques+Francois|Pontano+Sans);

h1 {
  font-size: 2em;}

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1.1em; }

h1, h2, h3, h4, h5, h6 {
  margin: 1%;
}

b { font-weight: bold; }

a:hover {text-decoration: none;}

div.logopad { margin-top: 4%; }

.sans { font-family: 'Pontano Sans', Arial, sans-serif;}

.clear { clear:both;float:none;}
.bcenter { margin: 0 auto;}


#content {
  width: 90%;
  margin: 0 0 2% 5%;
}
  #content a {
    font-size: 1em;
    text-decoration: none;
  }

article h3 { font: 1.5em 'Flamenco', arial, serif; }
div.news h3 { text-align: right;}

.btn-xs {
    background: #dbdbdb;
    color: black;
    border: 1px outset #555;
}
.full { width: 100%; }
td, th { padding: 2px 5px;}

#content a.btn { color: #fff; }
#content a.btn:hover { color: #eee; }
#content a.btn { border: none; }
nav.navbar {
  background: #333; }
  ul.nav li:not(first-child) {
    margin-left: 5%; }
  ul.nav li a {
    color: #dbdbdb;
    font-family: "Jacques Francois", Georgia, Times, serif; }
    ul.dropdown-menu {
	    background: #555;
    }
    ul.dropdown-menu li a:hover {
	    color: #555;
    }
    nav.navbar li.dropdown.open > a:focus { background : #333; color: #f4f4f4;}
		form .navbar-right li {
			color: #fff;
			height: 36px;
			font-size: 18px;
			font-family: "Pontano Sans", Arial, Helvetica, sans-serif;
			margin-top: 8px;
		}
		form .navbar-right li input { height: 36px; color: black;}
		nav form li:first-child { margin-bottom: 3px;}
		nav form button { margin: 8px 5px 0 5px;}

ul.nav.navbar-nav li a { color: #dbdbdb; font-size: 1.75em;}
ul.nav.navbar-nav li a:hover { color: #f4f4f4;}
ul.nav.navbar-nav ul.dropdown-menu li a:hover { color: #555;}
ul.nav.navbar-nav ul.dropdown-menu a { font-size: 1.25em;}
ul.nav.navbar-nav li .dropdown a:hover { background: #f4f4f4; }
ul.navbar-left { margin-left: 5%; }
#nav-login a { padding: 5px 10px;}
#logo
{
	position: absolute;
	left: 1%;
}

#slideshow { width: 900px; margin: 0 auto;}

.panels p { width: 100%; height:50px; }
.panels:last-child p { font-size: 20px; padding-top: 10px;}
.panels button { width: 100%;}

#logo img { height: 100px;}

.form-inline label { margin-left: 1%;}
.form-inline label:first-child { margin-left: 0;}

ul.nav li a.small { font-size: 1em; }

.flash span { padding: 1%;}
.red, .green, .blue, .orange { color: black;}
.red { color: red;}
.green { color: green;}
.blue { color: blue; }
.orange { color: orange;}
.flash-info { color: blue; }
.flash-success { color: green; }
.flash-warning { color: orange; }
.flash-error { color: red; }

/*log file*/
.error { color:red; }
.error:before {
    content: "Error:"
}
.override { color: orange; }
.override:before {
    content: "Override:"
}

.redactor_box { margin-bottom: 1%; }
.correct { color: #1d8a25; }

.axform { margin: 1% 0;}
.iblock { display: inline-block;}
.input-group .datepick { display: block;}
.event { margin: 1% 0; }
