{% extends 'layouts/master' %}

{% block header %}
<h1>Welcome to ZBW</h1>
{% endblock %}

{% block content %}
<nav>
    <div class="left text-center">
        <h3><a href="/pilots">Pilots</a></h3>
    </div>
    <div class="right text-center">
        <h3><a href="/controllers">Controllers</a></h3>
    </div>
</nav>
{% endblock %}